.container {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.box {
  color: white;
}

.box1 {
  background-color: rgb(145, 238, 145);
  flex-basis: 5%;
  font-size: 2rem;
}

.box2 {
  background-color: blue;
  flex-basis: 15%;
  font-size: 7rem;
}

.box3 {
  background-color: navy;
  flex-basis: 30%;
  font-size: 12rem;
}

.box4 {
  background-color: purple;
  flex-basis: 15%;
  font-size: 7rem;
}

.box5 {
  background-color: orange;
  flex-basis: 5%;
  font-size: 2rem;
}